[Unit]
Description=ICT302 Node Python Script service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
# Path to your Python interpreter and script
ExecStart=/usr/bin/python3 -m src.node.index

# Working directory
WorkingDirectory=/opt/DynamicPopulationDensity/

# Restart options
Restart=always
RestartSec=10

# Run as a specific user
User=root
Group=root

# Log standard output and error
StandardOutput=append:/var/log/ict302-node.log
StandardError=append:/var/log/ict302-node.err

[Install]
WantedBy=multi-user.target
