@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body { @apply text-slate-900 text-[15px] md:text-[16px]; }
  h1 { @apply text-3xl md:text-4xl font-bold text-slate-900; }
  h2 { @apply text-2xl md:text-3xl font-bold text-slate-900; }
  h3 { @apply text-lg md:text-xl font-semibold text-slate-900; }
  small, .muted { @apply text-slate-700; }   /* darker than before */
}
